body {
	background-color: #181818;
	color: $gray-light;
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
	color: $white;
	margin-top: 0;
	font-weight: normal;
}
h1 {
	font-size: 100%;
	@media(min-width: $bootstrapSM) {
		font-size: 50%;
	}
}
h2 {
	font-size: 90%;
	@media(min-width: $bootstrapSM) {
		font-size: 45%;
	}
}
h3 {
	font-size: 80%;
	@media(min-width: $bootstrapSM) {
		font-size: 40%;
	}
}
h4 {
	font-size: 70%;
	@media(min-width: $bootstrapSM) {
		font-size: 35%;
	}
}
h5 {
	font-size: 60%;
	@media(min-width: $bootstrapSM) {
		font-size: 30%;
	}
}
h6 {
	font-size: 50%;
	@media(min-width: $bootstrapSM) {
		font-size: 25%;
	}
}
p, ul li {
	font-size: 50%;
	color: $gray-light;
	@media(min-width: $bootstrapSM) {
		font-size: 25%;
	}
}
a {
	color: $white;
	&:hover {
		color: $brand-yellow;
	}
}

header {
	position: fixed;
	width: 100%;
	background: $black;
	opacity: 0.9;
	z-index: 10;
	nav {
		.navbar-header {
			.navbar-brand {
				height: auto;
				max-width: 295px;
				min-width: 150px;
				img {
					display: block;
					width: 100%;
				}
			}
			.icon-bar {
				background: $brand-yellow;
			}
		}
	}
}
#mainContainer {
	padding-top: 50px;
}
.page-header {
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: 0px;
	h1 {
		color: $white;
		background: #202020;
		padding: 11px 19px 12px;
		span {
			color: $brand-yellow;
		}
	}
}

.navbar-collapse {
	@media(min-width: $bootstrapSM) {
		width: 75%;
	}
}

.img-fit {
	display: block;
	width: 100%;
}