.hero-hotel-search {
	background: url(/assets/images/backgrounds/Fidji_Resort-Island_travel_landscape_photography_Desktop_Wallpapers_1920x1200.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	.search-form-wrap {
		position: relative;
		margin: 20px auto;
		padding-bottom: 15px;
		padding-top: 15px;
		@media(min-width: $bootstrapSM) {
			margin: 50px auto;
		}
		@media(min-width: $bootstrapMD) {
			margin: 100px auto;
		}
		@media(min-width: $bootstrapLG) {
			margin: 150px auto;
		}
		.bg {
			background: #fff;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.95;
		} 
	}
}