<div class="rating">
	<div class="stars-rated" style="width: {{percent}}%;">
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
	</div>
	<div class="stars-placeholder">
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star"></i>
	</div>
</div>